@model Task6.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register Page";
}

<h2>New User Registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" placeholder="example@example.com"/>
        <span asp-validation-for="Email"></span>
    </div>
    <br/>
    <div>
        <label asp-for="FirstName"></label><br />
        <input asp-for="FirstName" class="form-control" placeholder="Enter First Name"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <br/>
    <div>
        <label asp-for="LastName"></label><br />
        <input asp-for="LastName" class="form-control" placeholder="Enter Last Name"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <br/>
    <div>
        <label asp-for="Age"></label><br />
        <input asp-for="Age" class="form-control" placeholder="33"/>
        <span asp-validation-for="Age"></span>
    </div>
    <br/>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" placeholder="********"/>
        <span asp-validation-for="Password"></span>
    </div>
    <br/>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" placeholder="********"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <br/>
    <div class="form-group">
        <input type="submit" value="Registration" class="btn btn-outline-dark" />
    </div>
</form>