@model Task6.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center">
        <div class="row">
          <div class="">
            <h1 class="display-2 text-black">Hello @Model.FirstName @Model.LastName!</h1>
            <h3 class="text-black mt-0 mb-5">This is your profile page.</h3>
          </div>
        </div>
</div>
<form class="form-inline" asp-controller="Account" asp-action="Logout">
    <button type="submit" class="nav-link btn btn-primary text-white"><b>Logout</b></button>
</form>

<div class="text-center">
    <h1 class="display-4">You're welcome in social network !</h1>
    <form class="form-inline" asp-controller="Home" asp-action="Mailbox">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit"><b>Chat!</b></button>
        </div>
    </form>
    <br/>
</div>